
.nav {
    overflow: hidden;
    flex-direction: row;
    background-color: #333;
  }
  
/* The UL   */
 .nava{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;

 }

/* The Li   */

.list{
    float: left;

}

/* The inside   */

.list a {
    display: block;
    color: white;
    text-align: center;
  
    

}
  
.list a:hover{
    background-color: #111111;

}
  

.container .item {

    padding: 5px;
    width: 23%;
    margin-top: 10px;
    line-height: 150px;
    color: white;
    font-weight: bold;
    flex-wrap: wrap;
    font-size: 3em;
    text-align: center;
    
  }
  
  .container {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    flex-flow: row wrap;
    margin: 27px;
    justify-content: space-evenly;
  }

  .footer{
    
background-color: gray;
align-content: center;
padding: 5px;
width: 100%;
margin-top: 5px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-size: 40px;

  }

  .botcont{

    border-radius: 10px;
    border-color: black;
  }

  .text{
text-decoration: crimson;

  }